
@{
    ViewData["Title"] = "Cadastro Finalizado";
    @model ContatoModel

}
<div class="form-group">
    <label for="nome">Cadastro realizado com sucesso!</label>
    <div class="buttons">
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index1">Pagina De Clientes</a>
    </div> 
</div>



