
@{
    ViewData["Title"] = "Inverter Palavras!";
    @model ContatoTable
    
}

<form asp-controller="Contato" asp-action="Criar2" method="post">
    <div id="mensagem" class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Insira a Palavra que deseja descobrir o Inverso!">
    </div>
    <div id="mensagem" class="form-group">
        <label for="nome">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Insira a Palavra que deseja descobrir o Inverso!">
    </div>
    <div id="mensagem" class="form-group">
        <label for="nome">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Insira a Palavra que deseja descobrir o Inverso!">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form> 