@{
    ViewData["Title"] = "Listagem";
}
@model List<ContatoTable>

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Descobrir Sua Idade!</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Inverter">Inverter Palavras!</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Cotacao">Cotacao Dolar</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarUsuario">Cadastro de Usuario</a>

</div>