@{
    ViewData["Title"] = "Listagem";
}

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Descobrir Sua Idade!</a>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Inverter">Inverter Palavras!</a>

</div>
