@model HomeModel
@{
    ViewData["Title"] = "Pagina Inicial.";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo @Model.Name</h1>
    <p>Prova da MasterCoin</p>
    <span> Sua data de Nascimento é  </span>
</div>
