@model HomeModel
@{
    ViewData["Title"] = "Pagina Inicial.";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Esta aplicação é voltada para a resolução das 4 questões enviadas por email vindo da MasterCoin e a resolução delas se encontram sessão acima chamada :"Funcionalidades"</p>
</div>
