
<div class="text-center">
    <h1 class="display-6">Sobre Mim</h1>
    <div>
        <img src="~/img/image.png" width="100" />
    </div>
    <p>
        Sou um jovem programador que começou no mercado de trabalho tem  1 ano e 4 meses e todo esse tempo estou desenvolvendo minhas habilidades com a linguagem de programação da microsoft ( C#)
        e cada dia mais tento aprender sobre programação aspnet e .net, sei que ainda tenho muito que aprender mas esse desafio para uma possivel admissão me fez criar bastante ânimo e inclusive me trazer uma certa
        experiência ja que eu não tinha programado algo parecido até então ( se tratando do zero claro) tudo que começa do zero sem nenhuma base é mais dificil."
    </p>
</div>
